doctype html
html
  != partial('../_partials/_head')
  body
    .container
      p
        a(id='back',href='../') ←
      if date 
        p.date= date
      != yield
      p
        a(id='back',href='../') ←
      != partial('../_partials/_footer')
    script(src='../assets/js/themes.js')