doctype html
html
  != partial('../_partials/_head')
  body
    .container
      p
        a(id='back',href='../')
          i(data-feather='arrow-left' class='feather back')
      if date 
        p.post-date= date
      if tags
        div#tagl
          div.tag-icon
            i(data-feather='tag' class='feather tag')
          div.tag-list
            ul
              each t in tags
                - t1 = t.replace('.', '-').replace(' ', '-')
                - t2 = t.replace('%20', ' ')
                li
                  a(href='/tags/#{ t1 }' class='tag-link') #{ '#' + t2 }       
      != yield
      if exclude_back != 1
        p
          a(id='back',href='../')
            i(data-feather='arrow-left' class='feather back')
      != partial('../_partials/_footer')
    script(src='https://ssgram.dev/assets/js/themes.js')