h1 Archive
nav.posts
  ul
    each article, slug in public.writings._data
      if article.title != 'Archive'
        li
          span.date #{ article.date }
          a(href='/writings/#{ slug }') #{ article.title }
          