h1 Contact
dl
  dt Email
  dd
    a(href='mailto:ramaseshan.par@gmail.com') ramaseshan.par@gmail.com
  dt GitHub
  dd
    a(href='https://github.com/rpartha', target='_blank', rel='noopener noreferrer') @rpartha
  dt LinkedIn
  dd
    a(href='https://linkedin.com/in/ramaseshanpar', target='_blank', rel='noopener noreferrer') https://linkedin.com/in/ramaseshanpar
  dt Phone
  dd
    a(href='tel:+16096473422', target='_blank', rel='noopener noreferrer') +1 609 647-3422
  