iframe#audio(src='../assets/media/Silence.mp3' allow='autoplay' style='display: none')
audio(id='player' autoplay='true' loop='')  
  source(src='../assets/media/Sunset.mp3' type='audio/mpeg')
  |   Your browser does not support the audio element.
h1.greeting-text
  | My Dear Shreya,
h2
  | Happy One-Year Anniversary!
blockquote
  p.txt
    b W
    |ow, I can't believe 365 days passed just like that! Truth be told, you're the best gift that God has bestowed upon me in my life in the form of the best 
    | partner ever. You're someone whom I wouldn't mind waking up next to every day for the rest of my life. Someone who makes me glad to be alive, yet drives 
    | me crazy. Someone whom I wouldn't mind picking words with because I know she'll be fair about it. Someone who makes me the best version of myself that I 
    | can be. And the most calming thing in the world is having my wounds kissed by someone who doesn't see them as disasters in my soul but cracks to fill her 
    | love into. I may not be everything you want me to be, but the fact that you still decide to stick around with me even though I can be unstable at times 
    | is something that truly deserves to be commended, especially with everything else you have to deal with in your life. You're the love of my life, and I 
    | wouldn't even think about replacing you with anyone else because I know it's impossible. 
blockquote
  p.txt2
    b I 
    |must be dreaming, because never in a million years would I have imagined dating someone like you. I am super excited for what the future holds in store for 
    | us. The day we will get to finally be together. The nights that we will spend cuddling together. The many adventures and vacations we will have. Every second 
    | that I get to be with you. All of that, and more. I know, I know. I'm getting far too ahead of myself here, but I just can't stop thinking about that possibility 
    | — the only one in which I get to spend the rest of eternity with you — no matter how long it takes to get there. Obviously because of Covid, life still kinda sucks, 
    | but you make it infinitely better. Every moment that we get to spend together — whether it's through Duo or whether it's in person — is unforgettable. And you don't 
    | even have to do anything in particular. Simply being present and showing me the most honest version of yourself is all it takes to elevate this relationship to the 
    | next level. You're literally the only reason I still have a will to walk on this Earth.
blockquote
  p.txt3
    b L
    |ast but not least, I just wanted to say thank you so much for making such a profound impact on my life. I still skip a heartbeat thinking about the day you decided to 
    | accept me. A love like yours is one so rare that it would be a shame if I can't realize how damn lucky I am to have you. Today isn't just your special day — it's the 
    | day that a unique person with a fabulous personality was born into my life. I'm at the last leg of this letter, but I don't know if me writing this does enough justice 
    | as to how much you mean to me or if my feelings are getting across. What I do know is that if I died tomorrow, I would die a happy man because I got to experience the 
    | truest love ever possible. I am so proud of you baby for pushing hard every day. Know that I will always be here for you whatever happens, and that I will keep cheering 
    | you on until we share the last breath. And you wanna know the best part of all this? At 06:49 pm on February 10th, 2020, we both got to meet each other not knowing how 
    | beautifully our relationship will have unfolded!
footer
  | With much love,
  br
  p.name
    | — Ram
span.heart-falling &hearts;
span.heart-falling &hearts;
span.heart-falling &hearts;
span.heart-falling &hearts;
span.heart-falling &hearts;
span.heart-falling &hearts;