div.footer
  p.toggle-theme
    a(href='#', onclick='toggleTheme(event)') Dark
  p.blurb 
    | &copy; 2020
  p.source
    a(href='https://github.com/rpartha/rpartha.github.io', target='_blank', rel='noopener noreferrer') Source