@charset 'UTF-8';
@font-face {
  font-family: 'JetBrains Mono VF';
  src: url('/assets/fonts/variable/JetBrainsMono-Variable.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 200 800; }
@font-face {
  font-family: 'JetBrains Mono VF';
  src: url('/assets/fonts/variable/JetBrainsMono-Variable-Italic.ttf') format('truetype-variations');
  font-style: italic;
  font-weight: 200 800; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-ExtraBold-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Bold.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Bold-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Medium.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Regular.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Italic.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Light.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-Light-Italic.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-Light-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-SemiLight.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-SemiLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-SemiLight-Italic.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-SemiLight-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 200; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-ExtraLight.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 100; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/web/JetBrainsMono-ExtraLight-Italic.woff2') format('woff2'),
  url('/assets/fonts/ttf/JetBrainsMono-ExtraLight-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100; }

  