h1 Error #404
- const errtext = ['I find your lack of navigation disturbing.','Perhaps you were looking for your puppy and got lost...','Oh no! There does not appear to be anything here!','Are you lost? Try finding your way back.','Recalculating... ETA: Never.']
p=  errtext[Math.floor(Math.random() * errtext.length)]