doctype html
html
  != partial('_partials/_head')
  body
    .container
      if title != 'Home'
        p
          a(href='../') 
            i(data-feather='arrow-left' class='feather back')
      != yield
      if title != 'Home' && title != '404'
        p
          a(href='../')
            i(data-feather='arrow-left' class='feather back')
      != partial('_partials/_footer')
    script(src='assets/js/themes.js')
  