main
  section#header
    .flex-row-between
      h1
        | 0xRAM:$
        span.cursor █
      button#theme-toggle(title='Change theme' onclick='modeSwitcher()')
        div
          i#toggle-icon
  section#intro
    .flex-row-between 
      h2 About
        div
    .bio
      p 
        | Hi! I'm Ram, a Concept Software Developer based in Chesterfield, NJ currently making waves at Edmunds GovTech. 
        | Previously at Stonewain Systems, Inc. I graduated with a B.S. in Computer Engineering and Computer Science from 
        | Rutgers University-New Brunswick. I'm also an otaku whose interests include backend dev and practicing the Tabla. 
      div
  section#resume
    .flex-row-between 
      h2 Résumé
    .resume-text 
      | Download 
      a(href='/assets/docs/Parthasarathy_Ramaseshan_Resume.pdf' target='_blank' rel='noopener') here
      | .
  section#contact
    .flex-row-between 
      h2 Contact
    .ctable
      table
        thead
          tr
            th Service
            th Account
        tbody
          tr
            td Twitter
            td 
              a(href='https://twitter.com/_0xram_' target='_blank' rel='noopener') @_0xram_
          tr
            td GitHub
            td
              a(href='https://github.com/rpartha' target='_blank' rel='noopener') @rpartha
          tr
            td LinkedIn
            td
              a(href='https://linkedin.com/in/ramaseshanpar' target='_blank' rel='noopener') /in/ramaseshanpar
          tr
            td Email
            td
              a(href='mailto:ramaseshan.par@gmail.com' target='_blank' rel='noopener') ramaseshan.par@gmail.com
  section#footer
    .flex-row-between 
      p.blurb 
        | &copy; 2021 Ramaseshan Parthasarathy
