h1 Setup
dl
  dt 
    u Build
  dd
    | Intel i7-8700 3.2 GHz 6-Core 
  dd
    | Gigabyte H370 Aorus Gaming 3 Wifi
  dd
    | Corsair Vengeance LPX 16 GB (2 x 8 GB) 
  dd
    | Seagate Barracuda 3 TB 3.5" 7200RPM 
  dd
    | Samsung 860 Evo 250 GB M.2-2280 
  dd
    | Sapphire Pulse RX 580 8 GB
  dd
    | NZXT H500i ATX Mid-Tower 
  dd
    | Corsair RMx 750 W 80+ Gold (Fully Modular)
  dd
    | Cooler Master Hyper 212 Black Edition RGB
  dt 
    u Peripherals
  dd
    | HP 24ea 23.8" FHD IPS Monitor
  dd
    | Anne Pro 2 - Lubed Gat Browns, HyperX Puddings
  dd
    | Logitech MX Master 2S
  dt 
    u Furniture
  dd
    | Tribesigns 55" Modern Computer Desk
  dd
    | Laura Davidson Bowery Management Chair
  