div.footer
  p.copy
    a(href='https://raw.githubusercontent.com/rpartha/rpartha.github.io/4de89c65e120e59e117f748a814369298ae3a13a/LICENSE',target='_blank', rel='noopener noreferrer') &copy; 2020 
  p.love 
    | Handcrafted with <i class="fas fa-heart fa-pound"></i> by yours truly
  p.source
    a(href='https://github.com/rpartha/rpartha.github.io', target='_blank', rel='noopener noreferrer') Source