head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(name='theme-color', content='#090b10')
  link(rel='icon', type='image/png', href='/assets/images/favicon.png')
  title= '/Ram/' + title

  script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-99834068-1', 'auto');
    ga('send', 'pageview');
  script(async='', src='https://www.google-analytics.com/analytics.js')

  //script(src='https://unpkg.com/feather-icons')

  link(rel='stylesheet', href='https://unpkg.com/css.gg/icons/all.css')

  link(rel='stylesheet', href='/assets/css/main.css')