doctype html
html
  != partial('../_partials/_head')
  body
    .container
      p
        a(href='../') 
          i(data-feather='arrow-left' class='feather back')
      != yield
      if title != 'Harp.js' && title != 'Gaming' && title != 'Current Events'
        p
          a(href='../')
            i(data-feather='arrow-left' class='feather back')
      != partial('../_partials/_footer')
    script(src='../assets/js/themes.js')
  