h1 Harp.js
nav.posts
  ul
    each article, slug in public.writings._data
      if article.title != 'Archive' && article.title != '404' && article.tags.includes('harp.js')
        li
          span.date #{ article.date }
          a(href='/writings/#{ slug }') #{ article.title }
          