h1 Tutorials
nav.posts
  ul
    each article, slug in public.writings._data
      if article.no_link != 1 && article.tags.includes('tutorials')
        li
          span.date #{ article.date }
          a(href='/writings/#{ slug }') #{ article.title }
          